
# If "true", the application will use the cached-based services.
USE_CACHE: true

# Cache endpoint
CACHE_ENDPOINT:
  - "127.0.0.1:11211"

# This token is used by the Reverse Geolocation API and the Maps API
GOOGLE_API_KEY: "AIzaSyBNo6yTF0nscZFnVXknj_SjRjn-pV7suag"

# Endpoint to the Reverse Geolocation API
GOOGLE_API_ENDPOINT_URL: "https://maps.googleapis.com/maps/api/geocode/json?latlng=%s,%s&sensor=false&key=%s"

# Retrieves only the first MAX_SEARCH_RESULTS results when querying the database for locations and countries.
MAX_SEARCH_RESULTS: 7

HISTORICAL_WEATHER_MAX_YEARS_WITHOUT_SHOWING_BROAD_RANGE_ALERT: 10  # years

AIR_POLLUTION_MAX_DAYS_WITHOUT_SHOWING_BROAD_RANGE_ALERT: 15724800000  # milliseconds

# Energy indicators.
# IMPORTANT: Last indicator MUST be 'EN.ATM.CO2E.KT'. Fetching all data in a single query will reduce database hits.
ENERGY_INDICATORS:
  - EG.ELC.COAL.ZS
  - EG.ELC.HYRO.ZS
  - EG.ELC.NGAS.ZS
  - EG.ELC.NUCL.ZS
  - EG.ELC.PETR.ZS
  - EG.ELC.RNEW.ZS
  - EN.ATM.CO2E.KT

# Environment indicators.
ENVIRONMENT_INDICATORS:
  - AG.LND.EL5M.UR.ZS
  - AG.LND.FRST.ZS
  - ER.PTD.TOTL.ZS
  - SH.H2O.SAFE.ZS

# Contact form validation constraints
MIN_SUBJECT_LENGTH: 5
MAX_SUBJECT_LENGTH: 50
MIN_NAME_LENGTH: 3
MAX_NAME_LENGTH: 40
MIN_EMAIL_LENGTH: 5
MAX_EMAIL_LENGTH: 60
MIN_MESSAGE_LENGTH: 10
MAX_MESSAGE_LENGTH: 1000

# Message pagination settings
MESSAGE_FILTERS:
  - inbox
  - replied
  - dismissed

MESSAGE_ACTIONS:
  - reply
  - dismiss
  - restore
  - delete

PAGE_SIZE: 2
