
# Absolute path to the WEB service root directory.
ROOT_WEB_APPLICATION_SUBSYSTEM_FOLDER: /ClimateChangeApp/code/web/

# Absolute path to the Data Gathering Subsystem's WEB log root directory.
WEB_APPLICATION_SUBSYSTEM_LOG_FILES_ROOT_FOLDER: /ClimateChangeApp/log/web/

# Absolute path to the Migrations directory.
WEB_APPLICATION_SUBSYSTEM_MIGRATIONS_FOLDER: /ClimateChangeApp/code/web/climate/webmodels/migrations/