
# NASA server base URL.
URL: podaac.jpl.nasa.gov

# Directory which contains all required files.
DATA_DIR: /allData/merged_alt/L2/TP_J1_OSTM/global_mean_sea_level/

# File extension of the required files.
FILE_EXT: .txt

# Date format for FTP 'last-modified' dates.
FTP_DATE_FORMAT: '%Y%m%d%H%M%S.%f'

# Timeout for a FTP connection
FTP_TIMEOUT: 30

# File name to be shown in logs.
FILE_NAME: sea_level_rise

MIN_UPDATE_FREQUENCY:
    value: 1
    units: day

MAX_UPDATE_FREQUENCY:
    value: 30
    units: day

# Contains all persistent conditions that must be stored within the '.state' file.
STATE_STRUCT:
    update_frequency:
        value: 1
        units: day
    last_request: null
    last_modified: null
    data_elements: null
    inserted_elements: null
    restart_required: false
    last_error: null
    error: null
    errors: {}
    backoff_time:
        value: 60
        units: s
