
# Base URL for API queries.
BASE_URL: http://api.worldbank.org/{LANG}/countries/all/indicators/{INDICATOR}?date={BEGIN_DATE}:{END_DATE}&format=json&per_page={ITEMS_PER_PAGE}&page={PAGE}

# API queries are paged in groups of 1000 elements, to reduce package size.
ITEMS_PER_PAGE: 1000

# Simple, light query which determines whether or not exists new data for countries.
VALIDATION_QUERY: http://api.worldbank.org/EN/countries/ES/indicators/SP.POP.TOTL?date={BEGIN_DATE}:{END_DATE}&format=json&per_page=1&page=1

# Retrieved data language.
LANG: EN

MAX_INDICATORS_PER_EXECUTION: 8

# Country indicators to be retrieved. For each indicator, N requests are made (being N the number of countries).
INDICATORS: 
    - AG.LND.EL5M.UR.K2
    - AG.LND.EL5M.UR.ZS
    - AG.LND.EL5M.ZS
    - AG.LND.FRST.K2
    - AG.LND.FRST.ZS
    - AG.LND.PRCP.MM
    - EG.ELC.ACCS.RU.ZS
    - EG.ELC.ACCS.UR.ZS
    - EG.ELC.ACCS.ZS
    - EG.ELC.COAL.KH
    - EG.ELC.COAL.ZS
    - EG.ELC.HYRO.KH
    - EG.ELC.HYRO.ZS
    - EG.ELC.NGAS.KH
    - EG.ELC.NGAS.ZS
    - EG.ELC.NUCL.KH
    - EG.ELC.NUCL.ZS
    - EG.ELC.PETR.KH
    - EG.ELC.PETR.ZS
    - EG.ELC.RNEW.KH
    - EG.ELC.RNEW.ZS
    - EG.IMP.CONS.ZS
    - EG.USE.COMM.CL.ZS
    - EG.USE.COMM.FO.ZS
    - EG.USE.ELEC.KH
    - EG.USE.ELEC.KH.PC
    - EN.ATM.CO2E.KT
    - EN.ATM.CO2E.LF.KT
    - EN.ATM.CO2E.PC
    - EN.ATM.GHGO.KT.CE
    - EN.ATM.METH.KT.CE
    - EN.ATM.NOXE.KT.CE
    - EN.PRD.ELEC
    - EN.PRD.ELEC.POP.ZS
    - ER.FST.DFST.ZG
    - ER.H2O.FWAG.ZS
    - ER.H2O.FWDM.ZS
    - ER.H2O.FWIN.ZS
    - ER.H2O.FWTL.K3
    - ER.H2O.INTR.K3
    - ER.H2O.INTR.PC
    - ER.LND.PTLD.K2
    - ER.LND.PTLD.ZS
    - ER.MRN.PTMR.K2
    - ER.MRN.PTMR.ZS
    - ER.PTD.TOTL.ZS
    - SH.H2O.BASW.RU.ZS
    - SH.H2O.BASW.UR.ZS
    - SH.H2O.BASW.ZS
    - SH.H2O.SAFE.RU.ZS
    - SH.H2O.SAFE.UR.ZS
    - SH.H2O.SAFE.ZS
    - SP.POP.GROW
    - SP.POP.TOTL
    - SP.URB.GROW
    - SP.URB.TOTL

MIN_DATE: 1900

DATA_COLLECTION_MIN_UPDATE_FREQUENCY:
    value: 1
    units: min

MIN_UPDATE_FREQUENCY:
    value: 7
    units: day

MAX_UPDATE_FREQUENCY:
    value: 365
    units: day

# Contains all persistent conditions that must be stored within the '.state' file.
STATE_STRUCT:
    update_frequency:
        value: 1
        units: min
    last_request: null
    data_elements: null
    inserted_elements: null
    restart_required: false
    last_error: null
    error: null
    errors: {}
    backoff_time:
        value: 1
        units: s
    begin_date: 1900
    end_date: null
    indicator_index: null