
# API URL which allows finding Wunderground station IDs from location names.
URL_WUNDERGROUND: http://autocomplete.wunderground.com/aq?query=

# URL to a file which contains the mapping between location names and OpenWeatherMap station IDs
OWM_FILEPATH: doc/city.list.min.json.gz

# API URL which allows finding WAQI station IDs from location names
URL_WAQI: https://api.waqi.info/search/?keyword={LOC}&token=c9e101e6ae7a3650fdd61854ee762ef9298de047

# URL to the GenoNames file.
BASE_URL: http://download.geonames.org/export/dump/

# Name of the GeoNames .zip file, which contains the required file.
ZIP_FILE: cities1000.zip

# Name of the GeoNames .txt file, once .zip file has been unzipped.
FILE: cities1000.txt

MIN_UPDATE_FREQUENCY: 
    value: 1
    units: day

MAX_UPDATE_FREQUENCY: 
    value: 7
    units: day

# Contains all persistent conditions that must be stored within the '.state' file.
STATE_STRUCT: 
    update_frequency: 
        value: 1
        units: min
    last_request: null
    last_modified: null
    data_elements: null
    inserted_elements: null
    restart_required: false
    last_error: null
    error: null
    errors: {}
    backoff_time:
        value: 60
        units: s

# List of all locations for which data will be collected.
# Each location must have an UNIQUE integer 'location_id' as its identifier. Note that ids are incremented by 1.
# To add a location, copy the structure of an existent location (below) and fill the required fields (ALL are required).
LOCATIONS:
    Cairo: 
        location_id: 1
        country_code: EG
        latitude: 30.06263
        longitude: 31.24967
        climate_zone: BWh
    Delhi:
        location_id: 2
        country_code: IN
        latitude: 28.65195
        longitude: 77.23149
        climate_zone: BSh
    Guatemala City:
        location_id: 3
        country_code: GT
        latitude: 14.64072
        longitude: -90.51327
        climate_zone: Am
    Mexico City:
        location_id: 4
        country_code: MX
        latitude: 19.42847
        longitude: -99.12766
        climate_zone: Cwb
    Mogadishu:
        location_id: 5
        country_code: SO
        latitude: 2.03711
        longitude: 45.34375
        climate_zone: BSh
    Bangkok:
        location_id: 6
        country_code: TH
        latitude: 13.75398
        longitude: 100.50144
        climate_zone: Aw
    Hanoi:
        location_id: 7
        country_code: VN
        latitude: 21.0245
        longitude: 105.84117
        climate_zone: Cwa
    Singapore:
        location_id: 8
        country_code: SG
        latitude: 1.28967
        longitude: 103.85007
        climate_zone: Af
    Kabul:
        location_id: 9
        country_code: AF
        latitude: 34.52813
        longitude: 69.17233
        climate_zone: Bsk
    Kathmandu:
        location_id: 10
        country_code: NP
        latitude: 27.70169
        longitude: 85.3206
        climate_zone: Cwa
    Ankara:
        location_id: 11
        country_code: TR
        latitude: 39.91987
        longitude: 32.85427
        climate_zone: BSk
    Brasília:
        location_id: 12
        country_code: BR
        latitude: -15.77972
        longitude: -47.92972
        climate_zone: Aw
    Madrid:
        location_id: 13
        country_code: ES
        latitude: 40.4165
        longitude: -3.70256
        climate_zone: Csa
    Beijing:
        location_id: 14
        country_code: CN
        latitude: 39.9075
        longitude: 116.39723
        climate_zone: Dwa
    Astana:
        location_id: 15
        country_code: KZ
        latitude: 51.1801
        longitude: 71.44598
        climate_zone: BWk
    Nairobi:
        location_id: 16
        country_code: KE
        latitude: -1.28333
        longitude: 36.81667
        climate_zone: Cwb
    Ulan Bator:
        location_id: 17
        country_code: MN
        latitude: 47.90771
        longitude: 106.88324
        climate_zone: BWk
    Panamá:
        location_id: 18
        country_code: PA
        latitude: 8.9936
        longitude: -79.51973
        climate_zone: Aw
    Port Moresby:
        location_id: 19
        country_code: PG
        latitude: -9.44314
        longitude: 147.17972
        climate_zone: Am
    Rome:
        location_id: 20
        country_code: IT
        latitude: 41.89193
        longitude: 12.51133
        climate_zone: Csa
    Addis Ababa:
        location_id: 21
        country_code: ET
        latitude: 9.02497
        longitude: 38.74689
        climate_zone: Cwb
    Berlin:
        location_id: 22
        country_code: DE
        latitude: 52.52437
        longitude: 13.41053
        climate_zone: Cfb
    Paris:
        location_id: 23
        country_code: FR
        latitude: 48.85341
        longitude: 2.3488
        climate_zone: Cfb
    London:
        location_id: 24
        country_code: GB
        latitude: 51.50853
        longitude: -0.12574
        climate_zone: Cfb
    Santiago:
        location_id: 25
        country_code: CL
        latitude: -33.45694
        longitude: -70.64827
        climate_zone: Csb
    Bishkek:
        location_id: 26
        country_code: KG
        latitude: 42.87
        longitude: 74.59
        climate_zone: Dsa
    Antananarivo:
        location_id: 27
        country_code: MG
        latitude: -18.91368
        longitude: 47.53613
        climate_zone: Cwb
    Tunis:
        location_id: 28
        country_code: TN
        latitude: 36.81897
        longitude: 10.16579
        climate_zone: Csa
    Fortaleza:
        location_id: 29
        country_code: BR
        latitude: -3.71722
        longitude: -38.54306
        climate_zone: As
    Anchorage:
        location_id: 30
        country_code: US
        latitude: 61.21806
        longitude: -149.90028
        climate_zone: Dfc
    El Paso:
        location_id: 31
        country_code: US
        latitude: 31.75872
        longitude: -106.48693
        climate_zone: BWk
    Lagos:
        location_id: 32
        country_code: NG
        latitude: 6.45407
        longitude: 3.39467
        climate_zone: Aw
    Vladivostok:
        location_id: 33
        country_code: RU
        latitude: 43.10562
        longitude: 131.87353
        climate_zone: Dwb
    Bogotá:
        location_id: 34
        country_code: CO
        latitude: 4.60971
        longitude: -74.08175
        climate_zone: Cfb
    Seoul:
        location_id: 35
        country_code: KR
        latitude: 37.566
        longitude: 126.9784
        climate_zone: Dwa
    Pretoria:
        location_id: 36
        country_code: ZA
        latitude: -25.74486
        longitude: 28.18783
        climate_zone: Cwb
    Kyiv:
        location_id: 37
        country_code: UA
        latitude: 50.45466
        longitude: 30.5238
        climate_zone: Dfb
    Pyongyang:
        location_id: 38
        country_code: KP
        latitude: 39.03385
        longitude: 125.75432
        climate_zone: Dwa
    Indore:
        location_id: 39
        country_code: IN
        latitude: 22.71792
        longitude: 75.8333
        climate_zone: As
    Tehran:
        location_id: 40
        country_code: IR
        latitude: 35.69439
        longitude: 51.42151
        climate_zone: BSk
    Seattle:
        location_id: 41
        country_code: US
        latitude: 47.60621
        longitude: -122.33207
        climate_zone: Dsb
    Buenos Aires:
        location_id: 42
        country_code: AR
        latitude: -34.61315
        longitude: -58.37723
        climate_zone: Cfa
    Washington D.C.:
        location_id: 43
        country_code: US
        latitude: 38.89511
        longitude: -77.03637
        climate_zone: Cfa
    Tokyo:
        location_id: 44
        country_code: JP
        latitude: 35.6895
        longitude: 139.69171
        climate_zone: Cfa
    Bucharest:
        location_id: 45
        country_code: RO
        latitude: 44.43225
        longitude: 26.10626
        climate_zone: Dfa
    Moscow:
        location_id: 46
        country_code: RU
        latitude: 55.75222
        longitude: 37.61556
        climate_zone: Dfb
    Montevideo:
        location_id: 47
        country_code: UY
        latitude: -34.90328
        longitude: -56.18816
        climate_zone: Cfb
    Praia:
        location_id: 48
        country_code: CV
        latitude: 14.93152
        longitude: -23.51254
        climate_zone: As
    Beirut:
        location_id: 49
        country_code: LB
        latitude: 33.88894
        longitude: 35.49442
        climate_zone: Csa
    Athens:
        location_id: 50
        country_code: GR
        latitude: 37.97945
        longitude: 23.71622
        climate_zone: Csa
    Dubai:
        location_id: 51
        country_code: AE
        latitude: 25.0657
        longitude: 55.17128
        climate_zone: BWh
    Chicago:
        location_id: 52
        country_code: US
        latitude: 41.85003
        longitude: -87.65005
        climate_zone: Dfa
    Miami:
        location_id: 53
        country_code: US
        latitude: 25.77427
        longitude: -80.19366
        climate_zone: Am
    Cape Town:
        location_id: 54
        country_code: ZA
        latitude: -33.92584
        longitude: 18.42322
        climate_zone: Csb
    Brussels:
        location_id: 55
        country_code: BE
        latitude: 50.85045
        longitude: 4.34878
        climate_zone: Cfb
    Dublin:
        location_id: 56
        country_code: IE
        latitude: 53.33306
        longitude: -6.24889
        climate_zone: Cfb
    Amsterdam:
        location_id: 57
        country_code: NL
        latitude: 52.37403
        longitude: 4.88969
        climate_zone: Cfb
    Stockholm:
        location_id: 58
        country_code: SE
        latitude: 59.33258
        longitude: 18.0649
        climate_zone: Dfb
    Homer:
        location_id: 59
        country_code: US
        latitude: 59.6425
        longitude: -151.5494
        climate_zone: Dsc
    Yakutsk:
        location_id: 60
        country_code: RU
        latitude: 62.03389
        longitude: 129.73306
        climate_zone: Dfd
    Muş:
        location_id: 61
        country_code: TR
        latitude: 38.73163
        longitude: 41.48482
        climate_zone: Dsa
    Marrakesh:
        location_id: 62
        country_code: MA
        latitude: 31.63416
        longitude: -7.99994
        climate_zone: BSh
    Oral:
        location_id: 63
        country_code: KZ
        latitude: 51.23333
        longitude: 51.36667
        climate_zone: Dfa
    Rio de Janeiro:
        location_id: 64
        country_code: BR
        latitude: -22.90278
        longitude: -43.2075
        climate_zone: Am
    West Palm Beach:
        location_id: 65
        country_code: US
        latitude: 26.71534
        longitude: -80.05337
        climate_zone: Af
    Cusco:
        location_id: 66
        country_code: PE
        latitude: -13.52264
        longitude: -71.96734
        climate_zone: Cwa
    Mbandaka:
        location_id: 67
        country_code: CD
        latitude: 0.04865
        longitude: 18.26034
        climate_zone: Af
    Barcelona:
        location_id: 68
        country_code: ES
        latitude: 41.38879
        longitude: 2.15899
        climate_zone: Csb
    Los Angeles:
        location_id: 69
        country_code: US
        latitude: 34.05223
        longitude: -118.24368
        climate_zone: Csa
    Minneapolis:
        location_id: 70
        country_code: US
        latitude: 44.97997
        longitude: -93.26384
        climate_zone: Dfa
    Phoenix:
        location_id: 71
        country_code: US
        latitude: 33.44838
        longitude: -112.07404
        climate_zone: BWh
    Johannesburg:
        location_id: 72
        country_code: ZA
        latitude: -26.20227
        longitude: 28.04363
        climate_zone: Cwb
    Vienna:
        location_id: 73
        country_code: AT
        latitude: 48.20849
        longitude: 16.37208
        climate_zone: Cfb
    Bratislava:
        location_id: 74
        country_code: SK
        latitude: 48.14816
        longitude: 17.10674
        climate_zone: Dfb
    Copenhagen:
        location_id: 75
        country_code: DK
        latitude: 55.67594
        longitude: 12.56553
        climate_zone: Cfb
    Helsinki:
        location_id: 76
        country_code: FI
        latitude: 60.16952
        longitude: 24.93545
        climate_zone: Dfb
    Oslo:
        location_id: 77
        country_code: NO
        latitude: 59.91273
        longitude: 10.74609
        climate_zone: Dfb
    Wellington:
        location_id: 78
        country_code: NZ
        latitude: -41.28664
        longitude: 174.77557
        climate_zone: Cfb
    Warsaw:
        location_id: 79
        country_code: PL
        latitude: 52.22977
        longitude: 21.01178
        climate_zone: Dfb
    Taipei:
        location_id: 80
        country_code: TW
        latitude: 25.04776
        longitude: 121.53185
        climate_zone: Cfa
    Vancouver:
        location_id: 81
        country_code: CA
        latitude: 49.24966
        longitude: -123.11934
        climate_zone: Cfb
    Atlanta:
        location_id: 82
        country_code: US
        latitude: 33.749
        longitude: -84.38798
        climate_zone: Cfa
    Houston:
        location_id: 83
        country_code: US
        latitude: 29.76328
        longitude: -95.36327
        climate_zone: Cfa
    New York City:
        location_id: 84
        country_code: US
        latitude: 40.71427
        longitude: -74.00597
        climate_zone: Cfa
    Budapest:
        location_id: 85
        country_code: HU
        latitude: 47.49801
        longitude: 19.03991
        climate_zone: Dfb
    Honolulu:
        location_id: 86
        country_code: US
        latitude: 21.30694
        longitude: -157.85833
        climate_zone: Csc
    Perth:
        location_id: 87
        country_code: AU
        latitude: -31.95224
        longitude: 115.8614
        climate_zone: Csa
    Sevilla:
        location_id: 88
        country_code: ES
        latitude: 37.38283
        longitude: -5.97317
        climate_zone: Csa
    Denver:
        location_id: 89
        country_code: US
        latitude: 39.73915
        longitude: -104.9847
        climate_zone: BSk
    San Francisco:
        location_id: 90
        country_code: US
        latitude: 37.77493
        longitude: -122.41942
        climate_zone: Csb
    A Coruña:
        location_id: 91
        country_code: ES
        latitude: 43.37135
        longitude: -8.396
        climate_zone: Csb
