BASE_URL: http://api.openweathermap.org/data/2.5/forecast?q={LOC},{COUNTRY}&units=metric&appid={TOKEN}

LANG: EN

LOCATIONS_MODULE_NAME: locations

TOKEN: 1a28d307a2eafee185049f5a1a83f351

MAX_REQUESTS_PER_MINUTE: 30

STATE_STRUCT: {update_frequency: {value: 30, units: 'm'}, last_request: null, last_id: null}

MIN_UPDATE_FREQUENCY: {value: 1, units: 'm'}

MAX_UPDATE_FREQUENCY: {value: 2, units: 'h'}