
# Base API URL. Must be customized with token and station ID.
BASE_URL: http://api.openweathermap.org/data/2.5/forecast?id={LOC_ID}&units=metric&appid={TOKEN}

# Name of the 'locations' module. If this name changes, so will do the MongoDB collection attached to it.
# Thus, this name MUST be synchronized with the 'locations' module name.
LOCATIONS_MODULE_NAME: locations

# Plan: Free
TOKEN: 36058b81e34c67f3889c65ac0d30a0e2

# Tokens are limited to 60 calls/min
MAX_REQUESTS_PER_MINUTE: 60

MIN_UPDATE_FREQUENCY: {value: 1, units: 'min'}

MAX_UPDATE_FREQUENCY: {value: 1, units: 'h'}

# Contains all persistent conditions that must be stored within the '.state' file.
STATE_STRUCT: {update_frequency: {value: 1, units: min}, last_request: null, data_elements: null,
               inserted_elements: null, restart_required: false, last_error: null, error: null, errors: {},
               backoff_time: {value: 1, units: s}, last_id: null}