# .coveragerc to control coverage.py
[run]
branch = True

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    def __repr__
    def __str__
    raise AssertionError
    raise NotImplementedError
    class .+:
    import .+
    from .+ import .+
    def .+(.+):
    @.+(.+)

    # Don't complain if non-runnable code isn't run:
    if __name__ == __main__:

ignore_errors = True