# .coveragerc to control coverage.py

[run]
branch = True
omit =
    **/*config/*config.py
    data_conversion_subsystem/data/*
    data_conversion_subsystem/manage.py
    **/*config/*config.py
    data_conversion_subsystem/settings.py
    **/__init__.py

[report]
exclude_lines =
    def __repr__
    def __str__
    raise AssertionError
    raise NotImplementedError
    class .+:
    import .+
    from .+ import .+
    def .+(.+):
    @.+(.+)
    if __name__ == __main__:

ignore_errors = True