.idea
*.pyc
*.DS_Store
*.state
*~
*.csproj

data_modules/__pycache__/
data_modules/air_pollution/__pycache__/
data_modules/countries/__pycache__/
data_modules/country_indicators/__pycache__/
data_modules/current_conditions/__pycache__/
data_modules/future_emissions/__pycache__/
data_modules/historical_weather/__pycache__/
data_modules/locations/__pycache__/
data_modules/ocean_mass/__pycache__/
data_modules/sea_level_rise/__pycache__/
data_modules/weather_forecast/__pycache__/
exec/__pycache__/
utilities/__pycache__/
data_collector/__pycache__/
