# This path must be synchronized with utilities/log_util.config
MODULE_PATH: /Users/diego/Documents/workspace/DataGatheringSubsystem/data_modules

BASE_PACKAGE: data_modules

CONFIG_FILES_EXTENSION: .config
STATE_FILES_EXTENSION: .state

# This message must be synchronized with supervisor_component/supervisor.config
EXIT_MSG: exit

MOCK_MODULES: 12

MOCK_EXECUTION: True