
# Any DataCollector which inherits from the base class must have a STATE_STRUCT field in the module '.config' file.
# This is checked at runtime, and modules won't be initialized unless the STATE_STRUCT contains the following fields:
STATE_STRUCT:
    update_frequency:
        value: null
        units: null
    last_request: null
    data_elements: null
    inserted_elements: null
    restart_required: false
    last_error: null
    error: null
    errors: {}
    backoff_time:
        value: 60
        units: s
