
PAGE_SIZE: 200

STATE_STRUCT:
    last_request: null
    update_frequency:
        value: 1
        units: min
    start_index: 0
    elements_to_convert: null
    converted_elements: null
    inserted_elements: null
    restart_required: false
    last_error: null
    error: null
    errors: {}
    backoff_time:
        value: 1
        units: s
    created_regions: False
    created_income_levels: False

DATA_COLLECTION_MIN_UPDATE_FREQUENCY:
    value: 1
    units: min

MIN_UPDATE_FREQUENCY:
    value: 1
    units: day

MAX_UPDATE_FREQUENCY:
    value: null
    units: NEVER