
# ------------ Data Gathering Subsystem configuration ------------

# Current version of the Data Gathering Subsystem
# This attribute must be consistent with the 'image' attribute at the 'docker-compose.yml':
# diegohermida/data_gathering_subsystem:${DATA_GATHERING_SUBSYSTEM_VERSION}
DATA_GATHERING_SUBSYSTEM_VERSION: v2.0.1

# Name of the base package for all the DataCollectors.
DATA_COLLECTOR_BASE_PACKAGE: data_gathering_subsystem.data_modules

# Having more DataCollectors than this value may lead into performance penalties.
MAX_RECOMMENDED_DATA_COLLECTORS: 12

# Maximum allowed time for a DataCollector execution (in seconds)
# If the Subsystem reaches timeout, execution will be aborted (all threads), and an CRITICAL message will be shown.
SUBSYSTEM_TIMEOUT: 270

# This ID acts as a scope for the Data Conversion Subsystem. Since the recommended configuration is:
# 1 Data Conversion System per Data Gathering Subsystem (i.e. a 1:1 relation), the only way for the API to know this
# is by assigning an ID to each Data Gathering Subsystem instance, and use API tokens with scopes (A Data Conversion
# Subsystem instance only will see data from its scope).
#
# IMPORTANT: Owing to the fact that execution reports are saved per Data Gathering Subsystem instance (with the
# SUBSYSTEM_INSTANCE_ID --this-- field as a part of the "_id" field), it is MANDATORY that each Data Gathering Subsystem
# instance has an UNIQUE ID, or unexpected critical errors may appear.
SUBSYSTEM_INSTANCE_ID: 1

# This pattern allows creating distinct log and state directories per Subsystem instance.
# The wildcard will be replaced at execution time, or removed if the SUBSYSTEM_INSTANCE_ID equals 1.
ID_WILDCARD_PATTERN: "_{ID}"

# This field will be added by the Data Gathering Subsystem to all documents about to be saved in MongoDB.
EXECUTION_ID_DOCUMENT_FIELD: "_execution_id"

# By setting this property, all log records will include COMPONENT.
COMPONENT: DGS

# When executing tests, coverage file will have this output.
COVERAGE_FILENAME: dgs.coverage