
# Absolute path to DATA_COLLECTOR_BASE_PACKAGE.
DATA_MODULES_PATH: /Users/diego/Documents/workspace/ClimateChangeApp/data_gathering_subsystem/data_modules/

# Absolute path to the Data Gathering Subsystem root directory.
ROOT_DATA_GATHERING_SUBSYSTEM_FOLDER: /Users/diego/Documents/workspace/ClimateChangeApp/data_gathering_subsystem/

# Absolute path to the Data Gathering Subsystem root directory.
DATA_GATHERING_SUBSYSTEM_STATE_FILES_ROOT_FOLDER: /Users/diego/ClimateChangeApp/state/data_gathering_subsystem/
