
# Base URL for API queries.
BASE_URL : https://api.waqi.info/feed/@{STATION_ID}/?token={TOKEN}

# Unique token, which must be included in all requests.
TOKEN: acb2cc5e80eca1f4aec3fa17785bc7a42f877cdf

# Requests over limit will be ignored.
MAX_REQUESTS_PER_MINUTE: 1000

# Name of the 'locations' module. If this name changes, so will do the MongoDB collection attached to it.
# Thus, this name MUST be synchronized with the 'locations' module name.
LOCATIONS_MODULE_NAME: locations

MIN_UPDATE_FREQUENCY:
    value: 1
    units: min

MAX_UPDATE_FREQUENCY:
    value: 1
    units: h

# Contains all persistent conditions that must be stored within the '.state' file.
STATE_STRUCT:
    update_frequency:
        value: 1
        units: min
    last_request: null
    data_elements: null
    inserted_elements: null
    restart_required: false
    last_error: null
    error: null
    errors: {}
    backoff_time:
        value: 1
        units: s
    start_index: null