
PAGE_SIZE: 100

STATE_STRUCT:
    last_request: null
    update_frequency:
        value: 1
        units: min
    start_index: 0
    elements_to_convert: null
    converted_elements: null
    inserted_elements: null
    restart_required: false
    last_error: null
    error: null
    errors: {}
    backoff_time:
        value: 60
        units: s

DEPENDENCIES_UNSATISFIED_UPDATE_FREQUENCY:
    value: 5
    units: min

DATA_COLLECTION_MIN_UPDATE_FREQUENCY:
    value: 1
    units: s

MIN_UPDATE_FREQUENCY:
    value: 1
    units: h

# Changing this to "h" FIXES [BUG-052]
MAX_UPDATE_FREQUENCY:
    value: 24
    units: h