ROOT_LOG_FOLDER: /users/Diego/DataGatheringSubsystem

# In bytes. Default is 4MB (2^22 bytes)
MAX_LOG_FILE_SIZE: 4194304

# When MAX_LOG_SIZE is reached, log file is renamed to <log file name>.1 (and so on until MAX_BACKUP_FILES)
MAX_BACKUP_FILES: 10

# This path must be synchronized with utilities/log_util.config
ROOT_PROJECT_FOLDER: /Users/diego/Documents/workspace/DataGatheringSubsystem/

LOG_RECORD_FORMAT: '[%(levelname)s] %(asctime)s.%(msecs)03d {%(filename)s:%(lineno)d (%(funcName)s) @ %(threadName)s}: %(message)s'

LOG_DATE_FORMAT: '%d-%m-%Y %H:%M:%S'

LOG_FILE_ENCODING: utf-8