
# Base API URL. Must be customized with token, date, language and location ID info.
BASE_URL: http://api.wunderground.com/api/{TOKEN}/history_{YYYYMMDD}/lang:{LANG}{LOC_ID}.json

# Some fields are translatable. Currently, English is being used.
LANG: EN

# Name of the 'locations' module. If this name changes, so will do the MongoDB collection attached to it.
# Thus, this name MUST be synchronized with the 'locations' module name.
LOCATIONS_MODULE_NAME: locations

# Plan: Anvil + Developer
TOKENS: 
    - 5f06ae04f7342abf
    - e63c2d687265be99
    - 4ea749ef53da4c65
    - 3d93ef701440b478
    - bb866b8bda7036f4
    - 8649251baef91434
    - 0e85d055e5337977
    - 330521663b1024c9
    - 9309f4166988f1e3
    - 5e1dd9d990fef0f8

# Tokens are limited to: 500 calls/day and 10 calls/min
MAX_REQUESTS_PER_MINUTE_AND_TOKEN: 10

# Tokens are limited to: 500 calls/day and 10 calls/min
MAX_DAILY_REQUESTS_PER_TOKEN: 500

# When MAX_DAY_COUNT have passed without measures, we'll assume there are no previous data for such location.
MAX_DAY_COUNT: 90

# Data collector will search data on date: today - TIME_INTERVAL (days)
TIME_INTERVAL: 15

# When querying database for missing locations' data, search day will be: today - (TIME_INTERVAL (days) + TIMEDELTA (days))
TIMEDELTA: 3

# When more than DB_EXISTING_DATA_LIMIT elements exist in database, data collection for the current location will stop.
DB_EXISTING_DATA_LIMIT: 5

MIN_UPDATE_FREQUENCY:
    value: 1
    units: min

MAX_UPDATE_FREQUENCY:
    value: 1
    units: day

# Contains all persistent conditions that must be stored within the '.state' file.
STATE_STRUCT:
    update_frequency:
        value: 1
        units: min
    last_request: null
    data_elements: null
    inserted_elements: null
    restart_required: false
    last_error: null
    error: null
    errors: {}
    backoff_time:
        value: 60
        units: s
    missing_data_check: false
    current_date: null
    missing_data_ids: null
    consecutive_unmeasured_days: 0
