
# Base directory for all Subsystem logs.
ROOT_LOG_FOLDER: /Users/diego/DataSubsystems/log/

# Absolute path to the Subsystem's root directory.
ROOT_PROJECT_FOLDER: /Users/diego/Documents/workspace/DataSubsystems/

# Absolute path to the API service root directory.
ROOT_API_FOLDER: /Users/diego/Documents/workspace/DataSubsystems/api/

STATE_FILES_ROOT_FOLDER: /Users/diego/DataSubsystems/state/

DATA_CONVERSION_SUBSYSTEM_STATE_FILES_ROOT_FOLDER: /Users/diego/DataSubsystems/state/data_conversion_subsystem/