
# Absolute path to DATA_COLLECTOR_BASE_PACKAGE.
DATA_MODULES_PATH: /Users/diego/Documents/workspace/DataGatheringSubsystem/data_modules/

# Base directory for all Subsystem logs.
ROOT_LOG_FOLDER: /Users/diego/DataGatheringSubsystem/log/

# Absolute path to the Subsystem's root directory.
ROOT_PROJECT_FOLDER: /Users/diego/Documents/workspace/DataGatheringSubsystem/

STATE_FILES_ROOT_FOLDER:  /Users/diego/DataGatheringSubsystem/state/