
# Absolute path to the app's root directory.
ROOT_PROJECT_FOLDER: /Users/diego/Documents/workspace/ClimateChangeApp/

# Absolute path to the app's log directory.
ROOT_LOG_FOLDER: /Users/diego/ClimateChangeApp/log/

# Absolute path to the app's .state files' directory.
STATE_FILES_ROOT_FOLDER: /Users/diego/ClimateChangeApp/state/

# Absolute path to the app's test coverage directory.
COVERAGE_DIR: /Users/diego/ClimateChangeApp/coverage/

# Absolute path to the app's test coverage configuration file.
COVERAGE_CONFIG_FILEPATH: /Users/diego/Documents/workspace/ClimateChangeApp/.coveragerc

# Absolute path to the app's test results directory.
TEST_RESULTS_DIR: /Users/diego/ClimateChangeApp/test_results/