
# Base directory for all Subsystem logs. WARNING: Do not end with "/".
ROOT_LOG_FOLDER: /ClimateChangeApp/log

# Absolute path to the Subsystem's root directory.
ROOT_PROJECT_FOLDER: /ClimateChangeApp/code/

STATE_FILES_ROOT_FOLDER: /ClimateChangeApp/state/

DATA_CONVERSION_SUBSYSTEM_STATE_FILES_ROOT_FOLDER: /ClimateChangeApp/state/data_conversion_subsystem/