
# Absolute path to the Subsystem's root directory.
ROOT_PROJECT_FOLDER: /ClimateChangeApp/code/

# Absolute path to the app's log directory.
ROOT_LOG_FOLDER: /ClimateChangeApp/log/

# Absolute path to the app's .state files' directory.
STATE_FILES_ROOT_FOLDER: /ClimateChangeApp/state/

# Absolute path to the app's test coverage directory.
COVERAGE_DIR: /ClimateChangeApp/coverage/

# Absolute path to the app's test coverage configuration file.
COVERAGE_CONFIG_FILEPATH: /ClimateChangeApp/code/.coveragerc

# Absolute path to the app's test results directory.
TEST_RESULTS_DIR: /ClimateChangeApp/test_results/


