
# WARNING: Ensure that ROOT_LOG_FOLDER and STATE_FILES_ROOT_FOLDER paths end with '/'. If not, '.state' and 'main.log'
# files will not be persisted.

# Base directory for all Subsystem logs.
ROOT_LOG_FOLDER: /ClimateChangeApp/log/

# Absolute path to the Subsystem's root directory.
ROOT_PROJECT_FOLDER: /ClimateChangeApp/code/

# Absolute path to the API service root directory.
ROOT_API_FOLDER: /ClimateChangeApp/code/api/

STATE_FILES_ROOT_FOLDER: /ClimateChangeApp/state/

DATA_CONVERSION_SUBSYSTEM_STATE_FILES_ROOT_FOLDER: /ClimateChangeApp/state/data_conversion_subsystem/