
# Name of the base package for all the DataCollectors.
DATA_COLLECTOR_BASE_PACKAGE: data_modules

# Having more DataCollectors than this value may lead into performance penalties.
MAX_RECOMMENDED_DATA_COLLECTORS: 10

# Maximum allowed time for a DataCollector execution
DATA_COLLECTOR_EXECUTION_TIMEOUT: 270.0
