
# Current version of the Data Gathering Subsystem
# This attribute must be consistent with the 'image' attribute at the 'docker-compose.yml':
# diegohermida/data_gathering_subsystem:${SUBSYSTEM_VERSION}
SUBSYSTEM_VERSION: v2.0

# Name of the base package for all the DataCollectors.
DATA_COLLECTOR_BASE_PACKAGE: data_gathering_subsystem.data_modules

# Having more DataCollectors than this value may lead into performance penalties.
MAX_RECOMMENDED_DATA_COLLECTORS: 12

# Maximum allowed time for a DataCollector execution (in seconds)
# If the Subsystem reaches timeout, execution will be aborted (all threads), and an CRITICAL message will be shown.
SUBSYSTEM_TIMEOUT: 270

# Maximum allowed time for checking the execution of a DataCollector, if the Subsystem has been timed out.
DATA_COLLECTOR_CHECK_TIMEOUT: 2


# MongoDB configuration

# Server IP changes dynamically: Using LOCALHOST_IP as the key to a environment variable.
DB_SERVER: LOCALHOST_IP

DB_PORT: 27017

DATABASE: climatechange

DB_USERNAME: data_gathering_subsystem

DB_PASSWORD: TFG_Diego_Hermida_Carrera

DB_AUTH_MECHANISM: SCRAM-SHA-1

DB_MAX_MILLISECONDS_WAIT: 5000

DB_ADMIN: admin

DB_ROOT: root

DB_ROOT_PASSWORD: root

DB_API_AUTHORIZED_USERS_COLLECTION: authorized_users

DB_API_AUTHORIZED_USERNAME: data_conversion_subsystem

DB_API_AUTHORIZED_USER_TOKEN: OIvwCBO2fRGXH3O9aDgkAoJcK0R9A1NW

DB_STATS_COLLECTION: statistics


