
# ------------ MongoDB configuration ------------

# Server IP changes dynamically: Using LOCALHOST_IP as the key to a environment variable.
MONGODB_SERVER: LOCALHOST_IP

MONGODB_PORT: 27017

MONGODB_DATABASE: climatechange

MONGODB_USERNAME: data_gathering_subsystem

MONGODB_PASSWORD: TFG_Diego_Hermida_Carrera

MONGODB_AUTH_MECHANISM: SCRAM-SHA-1

MONGODB_DB_MAX_MILLISECONDS_WAIT: 5000

MONGODB_ADMIN: admin

MONGODB_ROOT: root

MONGODB_ROOT_PASSWORD: root

MONGODB_STATS_COLLECTION: statistics

MONGODB_API_AUTHORIZED_USERS_COLLECTION: authorized_users


# ------------ PostgreSQL configuration ------------

POSTGRES_ROOT: root

POSTGRES_ROOT_PASSWORD: root


