#
# PLEASE READ THIS.
#
#
# Adding an authorized user:
#
# <user name>: Must be an UNIQUE string.
#     token: Authorization token. Must be an UNIQUE ASCII random string.
#     scope: Determine the Data Gathering Subsystem instance from which data are converted. This field must be a Data
#            Gathering Subsystem ID (integer). WARNING: If no scope is provided, API calls will always return a 400
#            Bad Request response, since a scope is always necessary.

authorized_users:
    data_conversion_subsystem:
        token: OIvwCBO2fRGXH3O9aDgkAoJcK0R9A1NW
        scope: 1
