
# API URL which allows finding Wunderground station IDs from location names.
URL_WUNDERGROUND: http://autocomplete.wunderground.com/aq?query=

# URL to a file which contains the mapping between location names and OpenWeatherMap station IDs
URL_OPEN_WEATHER: http://openweathermap.org/help/city_list.txt

# API URL which allows finding WAQI station IDs from location names
URL_WAQI: https://api.waqi.info/search/?keyword={LOC}&token=c9e101e6ae7a3650fdd61854ee762ef9298de047

# URL to the GenoNames file.
BASE_URL: http://download.geonames.org/export/dump/

# Name of the GeoNames .zip file, which contains the required file.
ZIP_FILE: cities1000.zip

# Name of the GeoNames .txt file, once .zip file has been unzipped.
FILE: cities1000.txt

MIN_UPDATE_FREQUENCY: {value: 1, units: 'day'}

MAX_UPDATE_FREQUENCY: {value: 1, units: 'week'}

# Contains all persistent conditions that must be stored within the '.state' file.
STATE_STRUCT: {update_frequency: {value: 1, units: 'day'}, last_request: null, last_modified: null, data_elements: null,
               inserted_elements: null, restart_required: false, last_error: null, error: null, errors: {},
               backoff_time: {value: 1, units: s}}

# List of all locations for which data will be collected.
# Each location must have an UNIQUE integer '_id' as its identifier. Note that ids are incremented by 1.
# To add a location, copy the structure of an existent location (below) and fill the required fields (ALL are required).
LOCATIONS:
    'Cairo': {_id: 1, country_code: 'EG', latitude: 30.06263, longitude: 31.24967}
    'Delhi': {_id: 2, country_code: 'IN', latitude: 28.65195, longitude: 77.23149}
    'Guatemala City': {_id: 3, country_code: 'GT', latitude: 14.64072, longitude: -90.51327}
    'Mexico City': {_id: 4, country_code: 'MX', latitude: 19.42847, longitude: -99.12766}
    'Mogadishu': {_id: 5, country_code: 'SO', latitude: 2.03711, longitude: 45.34375}
    'Bangkok': {_id: 6, country_code: 'TH', latitude: 13.75398, longitude: 100.50144}
    'Hanoi': {_id: 7, country_code: 'VN', latitude: 21.0245, longitude: 105.84117}
    'Singapore': {_id: 8, country_code: 'SG', latitude: 1.28967, longitude: 103.85007}
    'Kabul': {_id: 9, country_code: 'AF', latitude: 34.52813, longitude: 69.17233}
    'Kathmandu': {_id: 10, country_code: 'NP', latitude: 27.70169, longitude: 85.3206}
    'Ankara': {_id: 11, country_code: 'TR', latitude: 39.91987, longitude: 32.85427}
    'Brasília': {_id: 12, country_code: 'BR', latitude: -15.77972, longitude: -47.92972}
    'Madrid': {_id: 13, country_code: 'ES', latitude: 40.4165, longitude: -3.70256}
    'Beijing': {_id: 14, country_code: 'CN', latitude: 39.9075, longitude: 116.39723}
    'Astana': {_id: 15, country_code: 'KZ', latitude: 51.1801, longitude: 71.44598}
    'Nairobi': {_id: 16, country_code: 'KE', latitude: -1.28333, longitude: 36.81667}
    'Ulan Bator': {_id: 17, country_code: 'MN', latitude: 47.90771, longitude: 106.88324}
    'Panamá': {_id: 18, country_code: 'PA', latitude: 8.9936, longitude: -79.51973}
    'Port Moresby': {_id: 19, country_code: 'PG', latitude: -9.44314, longitude: 147.17972}
    'Rome': {_id: 20, country_code: 'IT', latitude: 41.89193, longitude: 12.51133}
    'Addis Ababa': {_id: 21, country_code: 'ET', latitude: 9.02497, longitude: 38.74689}
    'Berlin': {_id: 22, country_code: 'DE', latitude: 52.52437, longitude: 13.41053}
    'Paris': {_id: 23, country_code: 'FR', latitude: 48.85341, longitude: 2.3488}
    'London': {_id: 24, country_code: 'GB', latitude: 51.50853, longitude: -0.12574}
    'Santiago': {_id: 25, country_code: 'CL', latitude: -33.45694, longitude: -70.64827}
    'Bishkek': {_id: 26, country_code: 'KG', latitude: 42.87, longitude: 74.59}
    'Antananarivo': {_id: 27, country_code: 'MG', latitude: -18.91368, longitude: 47.53613}
    'Tunis': {_id: 28, country_code: 'TN', latitude: 36.81897, longitude: 10.16579}
    'Fortaleza': {_id: 29, country_code: 'BR', latitude: -3.71722, longitude: -38.54306}
    'Anchorage': {_id: 30, country_code: 'US', latitude: 61.21806, longitude: -149.90028}
    'El Paso': {_id: 31, country_code: 'US', latitude: 31.75872, longitude: -106.48693}
    'Lagos': {_id: 32, country_code: 'NG', latitude: 6.45407, longitude: 3.39467}
    'Vladivostok': {_id: 33, country_code: 'RU', latitude: 43.10562, longitude: 131.87353}
    'Bogotá': {_id: 34, country_code: 'CO', latitude: 4.60971, longitude: -74.08175}
    'Seoul': {_id: 35, country_code: 'KR', latitude: 37.566, longitude: 126.9784}
    'Pretoria': {_id: 36, country_code: 'ZA', latitude: -25.74486, longitude: 28.18783}
    'Kyiv': {_id: 37, country_code: 'UA', latitude: 50.45466, longitude: 30.5238}
    'Pyongyang': {_id: 38, country_code: 'KP', latitude: 39.03385, longitude: 125.75432}
    'Indore': {_id: 39, country_code: 'IN', latitude: 22.71792, longitude: 75.8333}
    'Tehran': {_id: 40, country_code: 'IR', latitude: 35.69439, longitude: 51.42151}
    'Seattle': {_id: 41, country_code: 'US', latitude: 47.60621, longitude: -122.33207}
    'Buenos Aires': {_id: 42, country_code: 'AR', latitude: -34.61315, longitude: -58.37723}
    'Washington, D.C.': {_id: 43, country_code: 'US', latitude: 38.89511, longitude: -77.03637}
    'Tokyo': {_id: 44, country_code: 'JP', latitude: 35.6895, longitude: 139.69171}
    'Bucharest': {_id: 45, country_code: 'RO', latitude: 44.43225, longitude: 26.10626}
    'Moscow': {_id: 46, country_code: 'RU', latitude: 55.75222, longitude: 37.61556}
    'Montevideo': {_id: 47, country_code: 'UY', latitude: -34.90328, longitude: -56.18816}
    'Praia': {_id: 48, country_code: 'CV', latitude: 14.93152, longitude: -23.51254}
    'Beirut': {_id: 49, country_code: 'LB', latitude: 33.88894, longitude: 35.49442}
    'Athens': {_id: 50, country_code: 'GR', latitude: 37.97945, longitude: 23.71622}
    'Dubai': {_id: 51, country_code: 'AE', latitude: 25.0657, longitude: 55.17128}
    'Chicago': {_id: 52, country_code: 'US', latitude: 41.85003, longitude: -87.65005}
    'Miami': {_id: 53, country_code: 'US', latitude: 25.77427, longitude: -80.19366}
    'Cape Town': {_id: 54, country_code: 'ZA', latitude: -33.92584, longitude: 18.42322}
    'Brussels': {_id: 55, country_code: 'BE', latitude: 50.85045, longitude: 4.34878}
    'Dublin': {_id: 56, country_code: 'IE', latitude: 53.33306, longitude: -6.24889}
    'Amsterdam': {_id: 57, country_code: 'NL', latitude: 52.37403, longitude: 4.88969}
    'Stockholm': {_id: 58, country_code: 'SE', latitude: 59.33258, longitude: 18.0649}
    'Homer': {_id: 59, country_code: 'US', latitude: 59.6425, longitude: -151.5494}
    'Yakutsk': {_id: 60, country_code: 'RU', latitude: 62.03389, longitude: 129.73306}
    'Muş': {_id: 61, country_code: 'TR', latitude: 38.73163, longitude: 41.48482}
    'Marrakesh': {_id: 62, country_code: 'MA', latitude: 31.63416, longitude: -7.99994}
    'Oral': {_id: 63, country_code: 'KZ', latitude: 51.23333, longitude: 51.36667}
    'Rio de Janeiro': {_id: 64, country_code: 'BR', latitude: -22.90278, longitude: -43.2075}
    'West Palm Beach': {_id: 65, country_code: 'US', latitude: 26.71534, longitude: -80.05337}
    'Cusco': {_id: 66, country_code: 'PE', latitude: -13.52264, longitude: -71.96734}
    'Mbandaka': {_id: 67, country_code: 'CD', latitude: 0.04865, longitude: 18.26034}
    'Barcelona': {_id: 68, country_code: 'ES', latitude: 41.38879, longitude: 2.15899}
    'Los Angeles': {_id: 69, country_code: 'US', latitude: 34.05223, longitude: -118.24368}
    'Minneapolis': {_id: 70, country_code: 'US', latitude: 44.97997, longitude: -93.26384}
    'Phoenix': {_id: 71, country_code: 'US', latitude: 33.44838, longitude: -112.07404}
    'Johannesburg': {_id: 72, country_code: 'ZA', latitude: -26.20227, longitude: 28.04363}
    'Vienna': {_id: 73, country_code: 'AT', latitude: 48.20849, longitude: 16.37208}
    'Bratislava': {_id: 74, country_code: 'SK', latitude: 48.14816, longitude: 17.10674}
    'Copenhagen': {_id: 75, country_code: 'DK', latitude: 55.67594, longitude: 12.56553}
    'Helsinki': {_id: 76, country_code: 'FI', latitude: 60.16952, longitude: 24.93545}
    'Oslo': {_id: 77, country_code: 'NO', latitude: 59.91273, longitude: 10.74609}
    'Wellington': {_id: 78, country_code: 'NZ', latitude: -41.28664, longitude: 174.77557}
    'Warsaw': {_id: 79, country_code: 'PL', latitude: 52.22977, longitude: 21.01178}
    'Taipei': {_id: 80, country_code: 'TW', latitude: 25.04776, longitude: 121.53185}
    'Vancouver': {_id: 81, country_code: 'CA', latitude: 49.24966, longitude: -123.11934}
    'Atlanta': {_id: 82, country_code: 'US', latitude: 33.749, longitude: -84.38798}
    'Houston': {_id: 83, country_code: 'US', latitude: 29.76328, longitude: -95.36327}
    'New York City': {_id: 84, country_code: 'US', latitude: 40.71427, longitude: -74.00597}
    'Budapest': {_id: 85, country_code: 'HU', latitude: 47.49801, longitude: 19.03991}
    'Honolulu': {_id: 86, country_code: 'US', latitude: 21.30694, longitude: -157.85833}
    'Perth': {_id: 87, country_code: 'AU', latitude: -31.95224, longitude: 115.8614}
    'Sevilla': {_id: 88, country_code: 'ES', latitude: 37.38283, longitude: -5.97317}
    'Denver': {_id: 89, country_code: 'US', latitude: 39.73915, longitude: -104.9847}
    'San Francisco': {_id: 90, country_code: 'US', latitude: 37.77493, longitude: -122.41942}
