BASE_URL: http://download.geonames.org/export/dump/

ZIP_FILE: cities1000.zip

FILE: cities1000.txt

STATE_STRUCT: {update_frequency: {value: 1, units: 'week'}, last_request: null, last_modified: null}

LOCATIONS:
    'Cairo': {country_code: 'EG', latitude: 30.06263, longitude: 31.24967}
    'Delhi': {country_code: 'IN', latitude: 28.65195, longitude: 77.23149}
    'Guatemala City': {country_code: 'GT', latitude: 14.64072, longitude: -90.51327}
    'Mexico City': {country_code: 'MX', latitude: 19.42847, longitude: -99.12766}
    'Mogadishu': {country_code: 'SO', latitude: 2.03711, longitude: 45.34375}
    'Bangkok': {country_code: 'TH', latitude: 13.75398, longitude: 100.50144}
    'Hanoi': {country_code: 'VN', latitude: 21.0245, longitude: 105.84117}
    'Singapore': {country_code: 'SG', latitude: 1.28967, longitude: 103.85007}
    'Kabul': {country_code: 'AF', latitude: 34.52813, longitude: 69.17233}
    'Kathmandu': {country_code: 'NP', latitude: 27.70169, longitude: 85.3206}
    'Ankara': {country_code: 'TR', latitude: 39.91987, longitude: 32.85427}
    'Brasília': {country_code: 'BR', latitude: -15.77972, longitude: -47.92972}
    'Madrid': {country_code: 'ES', latitude: 40.4165, longitude: -3.70256}
    'Beijing': {country_code: 'CN', latitude: 39.9075, longitude: 116.39723}
    'Astana': {country_code: 'KZ', latitude: 51.1801, longitude: 71.44598}
    'Nairobi': {country_code: 'KE', latitude: -1.28333, longitude: 36.81667}
    'Ulan Bator': {country_code: 'MN', latitude: 47.90771, longitude: 106.88324}
    'Panamá': {country_code: 'PA', latitude: 8.9936, longitude: -79.51973}
    'Port Moresby': {country_code: 'PG', latitude: -9.44314, longitude: 147.17972}
    'Rome': {country_code: 'IT', latitude: 41.89193, longitude: 12.51133}
    'Addis Ababa': {country_code: 'ET', latitude: 9.02497, longitude: 38.74689}
    'Berlin': {country_code: 'DE', latitude: 52.52437, longitude: 13.41053}
    'Paris': {country_code: 'FR', latitude: 48.85341, longitude: 2.3488}
    'London': {country_code: 'GB', latitude: 51.50853, longitude: -0.12574}
    'Santiago': {country_code: 'CL', latitude: -33.45694, longitude: -70.64827}
    'Bishkek': {country_code: 'KG', latitude: 42.87, longitude: 74.59}
    'Antananarivo': {country_code: 'MG', latitude: -18.91368, longitude: 47.53613}
    'Tunis': {country_code: 'TN', latitude: 36.81897, longitude: 10.16579}
    'Fortaleza': {country_code: 'BR', latitude: -3.71722, longitude: -38.54306}
    'Anchorage': {country_code: 'US', latitude: 61.21806, longitude: -149.90028}
    'El Paso': {country_code: 'US', latitude: 31.75872, longitude: -106.48693}
    'Lagos': {country_code: 'NG', latitude: 6.45407, longitude: 3.39467}
    'Vladivostok': {country_code: 'RU', latitude: 43.10562, longitude: 131.87353}
    'Bogotá': {country_code: 'CO', latitude: 4.60971, longitude: -74.08175}
    'Seoul': {country_code: 'KR', latitude: 37.566, longitude: 126.9784}
    'Pretoria': {country_code: 'ZA', latitude: -25.74486, longitude: 28.18783}
    'Kyiv': {country_code: 'UA', latitude: 50.45466, longitude: 30.5238}
    'Pyongyang': {country_code: 'KP', latitude: 39.03385, longitude: 125.75432}
    'Indore': {country_code: 'IN', latitude: 22.71792, longitude: 75.8333}
    'Tehran': {country_code: 'IR', latitude: 35.69439, longitude: 51.42151}
    'Seattle': {country_code: 'US', latitude: 47.60621, longitude: -122.33207}
    'Buenos Aires': {country_code: 'AR', latitude: -34.61315, longitude: -58.37723}
    'Washington, D.C.': {country_code: 'US', latitude: 38.89511, longitude: -77.03637}
    'Tokyo': {country_code: 'JP', latitude: 35.6895, longitude: 139.69171}
    'Bucharest': {country_code: 'RO', latitude: 44.43225, longitude: 26.10626}
    'Moscow': {country_code: 'RU', latitude: 55.75222, longitude: 37.61556}
    'Montevideo': {country_code: 'UY', latitude: -34.90328, longitude: -56.18816}
    'Praia': {country_code: 'CV', latitude: 14.93152, longitude: -23.51254}
    'Beirut': {country_code: 'LB', latitude: 33.88894, longitude: 35.49442}
    'Athens': {country_code: 'GR', latitude: 37.97945, longitude: 23.71622}
    'Dubai': {country_code: 'AE', latitude: 25.0657, longitude: 55.17128}
    'Chicago': {country_code: 'US', latitude: 41.85003, longitude: -87.65005}
    'Miami': {country_code: 'US', latitude: 25.77427, longitude: -80.19366}
    'Cape Town': {country_code: 'ZA', latitude: -33.92584, longitude: 18.42322}
    'Brussels': {country_code: 'BE', latitude: 50.85045, longitude: 4.34878}
    'Dublin': {country_code: 'IE', latitude: 53.33306, longitude: -6.24889}
    'Amsterdam': {country_code: 'NL', latitude: 52.37403, longitude: 4.88969}
    'Stockholm': {country_code: 'SE', latitude: 59.33258, longitude: 18.0649}
    'Homer': {country_code: 'US', latitude: 59.6425, longitude: -151.5494}
    'Yakutsk': {country_code: 'RU', latitude: 62.03389, longitude: 129.73306}
    'Muş': {country_code: 'TR', latitude: 38.73163, longitude: 41.48482}
    'Marrakesh': {country_code: 'MA', latitude: 31.63416, longitude: -7.99994}
    'Oral': {country_code: 'KZ', latitude: 51.23333, longitude: 51.36667}
    'Rio de Janeiro': {country_code: 'BR', latitude: -22.90278, longitude: -43.2075}
    'West Palm Beach': {country_code: 'US', latitude: 26.71534, longitude: -80.05337}
    'Cusco': {country_code: 'PE', latitude: -13.52264, longitude: -71.96734}
    'Mbandaka': {country_code: 'CD', latitude: 0.04865, longitude: 18.26034}
    'Barcelona': {country_code: 'ES', latitude: 41.38879, longitude: 2.15899}
    'Los Angeles': {country_code: 'US', latitude: 34.05223, longitude: -118.24368}
    'Minneapolis': {country_code: 'US', latitude: 44.97997, longitude: -93.26384}
    'Phoenix': {country_code: 'US', latitude: 33.44838, longitude: -112.07404}
    'Johannesburg': {country_code: 'ZA', latitude: -26.20227, longitude: 28.04363}
    'Vienna': {country_code: 'AT', latitude: 48.20849, longitude: 16.37208}
    'Bratislava': {country_code: 'SK', latitude: 48.14816, longitude: 17.10674}
    'Copenhagen': {country_code: 'DK', latitude: 55.67594, longitude: 12.56553}
    'Helsinki': {country_code: 'FI', latitude: 60.16952, longitude: 24.93545}
    'Oslo': {country_code: 'NO', latitude: 59.91273, longitude: 10.74609}
    'Wellington': {country_code: 'NZ', latitude: -41.28664, longitude: 174.77557}
    'Warsaw': {country_code: 'PL', latitude: 52.22977, longitude: 21.01178}
    'Taipei': {country_code: 'TW', latitude: 25.04776, longitude: 121.53185}
    'Vancouver': {country_code: 'CA', latitude: 49.24966, longitude: -123.11934}
    'Atlanta': {country_code: 'US', latitude: 33.749, longitude: -84.38798}
    'Houston': {country_code: 'US', latitude: 29.76328, longitude: -95.36327}
    'New York City': {country_code: 'US', latitude: 40.71427, longitude: -74.00597}
    'Budapest': {country_code: 'HU', latitude: 47.49801, longitude: 19.03991}
    'Honolulu': {country_code: 'US', latitude: 21.30694, longitude: -157.85833}
    'Perth': {country_code: 'AU', latitude: -31.95224, longitude: 115.8614}
    'Sevilla': {country_code: 'ES', latitude: 37.38283, longitude: -5.97317}
    'Denver': {country_code: 'US', latitude: 39.73915, longitude: -104.9847}
    'San Francisco': {country_code: 'US', latitude: 37.77493, longitude: -122.41942}