
# Base URL for API queries.
BASE_URL: https://api.co2signal.com/v1/latest?countryCode={COUNTRY_CODE}

# Unique token, which must be included in all requests, as a header ('auth-token').
TOKEN: b4d2fba1b2e1892c

# Name of the 'countries' module. If this name changes, so will do the MongoDB collection attached to it.
# Thus, this name MUST be synchronized with the 'countries' module name.
COUNTRIES_MODULE_NAME: countries

MIN_UPDATE_FREQUENCY:
    value: 1
    units: min

MAX_UPDATE_FREQUENCY:
    value: 11
    units: min

# Contains all persistent conditions that must be stored within the '.state' file.
STATE_STRUCT:
    update_frequency:
        value: 1
        units: min
    last_request: null
    data_elements: null
    inserted_elements: null
    restart_required: false
    last_error: null
    error: null
    errors: {}
    backoff_time:
        value: 60
        units: s
