
# Root directory for RPC files.
DATA_DIR: doc/RPC_Data/

# RPC filenames. Each filename must be EXACTLY one of the following ones (excluding file extension):
FILE_NAMES:
    - PRE_2005
    - RPC_2.6
    - RPC_4.5
    - RPC_6.0
    - RPC_8.5

# RPC files' extension. Final name must be EXACTLY: <name><file_ext>
FILE_EXT: .txt

# Once data is saved, there is no need to repeat the operation.
UPDATE_FREQUENCY:
    value: null
    units: NEVER

# Contains all persistent conditions that must be stored within the '.state' file.
STATE_STRUCT:
    update_frequency:
        value: 1
        units: min
    last_request: null
    data_elements: null
    inserted_elements: null
    restart_required: false
    last_error: null
    error: null
    errors: {}
    backoff_time:
        value: 60
        units: s

# List of RPC file table headers. For each line, there are exactly len(MEASURES) values.
# Let 'line' be the current line. Then: measure at 'line[i]' makes reference to category 'MEASURES[i]'.
MEASURES:
    - CO2_EQ
    - KYOTO_CO2_EQ
    - CO2
    - CH4
    - N2O
    - KYOTO_FLOURINATED_HFC134A_EQ
    - MONTREAL_FLOURINATED_CFC-12_EQ
    - CF4
    - C2F6
    - C6F14
    - HFC23
    - HFC32
    - HFC43_10
    - HFC125
    - HFC134a
    - HFC143a
    - HFC227ea
    - HFC245fa
    - SF6
    - CFC_11
    - CFC_12
    - CFC_113
    - CFC_114
    - CFC_115
    - CARB_TET
    - MFC
    - HCFC_22
    - HCFC_141B
    - HCFC_142B
    - HALON1211
    - HALON1202
    - HALON1301
    - HALON2402
    - CH3BR
    - CH3CL

# For each measure in MEASURES, this variable stores the measure's units.
# Let 'line' be the current line. Then: measure at 'line[i]' has the units 'UNITS[i]'.
UNITS:
    - ppm
    - ppm
    - ppm
    - ppb
    - ppb
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt