BASE_URL: http://api.worldbank.org/{LANG}/countries/{COUNTRY}/indicators/{INDICATOR}?date={BEGIN_DATE}:{END_DATE}&format=json&per_page=10000

LANG: EN

COUNTRIES: 
    - ES
    - FR

INDICATORS: 
    - SP.POP.TOTL
    - SP.POP.GROW
    - SP.URB.TOTL
    - SP.URB.GROW
    - EN.ATM.CO2E.KT
    - EN.ATM.METH.KT.CE
    - EN.ATM.NOXE.KT.CE
    - EN.ATM.GHGO.KT.CE
    
BEGIN_DATE: 1900

END_DATE: 2017