BASE_URL: http://api.worldbank.org/{LANG}/countries/all/indicators/{INDICATOR}?date={BEGIN_DATE}:{END_DATE}&format=json&per_page={ITEMS_PER_PAGE}&page={PAGE}

LANG: EN

INDICATORS: 
    - SP.POP.TOTL
    - SP.POP.GROW
    - SP.URB.TOTL
    - SP.URB.GROW
    - EN.ATM.CO2E.KT
    - EN.ATM.METH.KT.CE
    - EN.ATM.NOXE.KT.CE
    - EN.ATM.GHGO.KT.CE

ITEMS_PER_PAGE: 1000

MIN_DATE: 1900

STATE_STRUCT: {update_frequency: {value: 1, units: 'month'}, last_request: null, begin_date: null, end_date: null}

TEMP_UPDATE_FREQUENCY: {value: 1, units: 'week'}

MAX_UPDATE_FREQUENCY: {value: 1, units: 'year'}