
# Base URL for API queries.
BASE_URL: http://api.worldbank.org/{LANG}/countries/all/indicators/{INDICATOR}?date={BEGIN_DATE}:{END_DATE}&format=json&per_page={ITEMS_PER_PAGE}&page={PAGE}

# API queries are paged in groups of 1000 elements, to reduce package size.
ITEMS_PER_PAGE: 1000

# Simple, light query which determines whether or not exists new data for countries.
VALIDATION_QUERY: http://api.worldbank.org/EN/countries/ES/indicators/SP.POP.TOTL?date={BEGIN_DATE}:{END_DATE}&format=json&per_page=1&page=1

# Retrieved data language.
LANG: EN

# Country indicators to be retrieved. For each indicator, N requests are made (being N the number of countries).
INDICATORS: 
    - SP.POP.TOTL
    - SP.POP.GROW
    - SP.URB.TOTL
    - SP.URB.GROW
    - EN.ATM.CO2E.KT
    - EN.ATM.METH.KT.CE
    - EN.ATM.NOXE.KT.CE
    - EN.ATM.GHGO.KT.CE

MIN_DATE: 1900

STATE_STRUCT: {update_frequency: {value: 1, units: 'month'}, last_request: null, data_elements: null,
               inserted_elements: null, restart_required: false, last_error: null, error: null, errors: {},
               backoff_time: {value: 1, units: s}, begin_date: 1900, end_date: null}

MIN_UPDATE_FREQUENCY: {value: 1, units: 'week'}

MAX_UPDATE_FREQUENCY: {value: 1, units: 'year'}