
PAGE_SIZE: 100

# Indicates that the start_index parameter should never be updated.
# This module performs periodical queries on the same data, which might have been updated.
RESTART_START_INDEX: true

STATE_STRUCT:
    last_request: null
    update_frequency:
        value: 1
        units: min
    start_index: 0
    elements_to_convert: null
    converted_elements: null
    inserted_elements: null
    restart_required: false
    last_error: null
    error: null
    errors: {}
    backoff_time:
        value: 60
        units: s

DEPENDENCIES_UNSATISFIED_UPDATE_FREQUENCY:
    value: 5
    units: min

DATA_COLLECTION_MIN_UPDATE_FREQUENCY:
    value: 1
    units: min

MIN_UPDATE_FREQUENCY:
    value: 1
    units: day

MAX_UPDATE_FREQUENCY:
    value: 7
    units: day