
# Base URL to make the API calls
BASE_URL: http://api.worldbank.org/{LANG}/countries?format=json&per_page=10000

# Retrieved data language.
LANG: EN

# Once data is saved, there is no need to repeat the operation.
UPDATE_FREQUENCY:
    value: null
    units: NEVER

# Contains all persistent conditions that must be stored within the '.state' file.
STATE_STRUCT:
    update_frequency:
        value: 1
        units: min
    last_request: null
    data_elements: null
    inserted_elements: null
    restart_required: false
    last_error: null
    error: null
    errors: {}
    backoff_time:
        value: 1
        units: s