
# Indexes that should be created when performing deploy operations.
# Due to [BUG-032], the _id field does not contain representative info anymore, and "update" operations are made
# querying non-indexed fields. This will lead to performance penalties, so indexes must be created.
MONGODB_INDEXES:
    air_pollution:
        keys:
          - time_utc: -1
          - location_id: 1
        unique: true
    country_indicators:
        keys:
          - year: -1
          - country_id: 1
          - indicator: 1
        unique: true
    current_conditions:
        keys:
          - time_utc: -1
          - station_id: 1
        unique: true
    energy_sources:
        keys:
          - time_utc: -1
          - country_id: 1
        unique: true
    historical_weather:
        keys:
          - date_utc: -1
          - location_id: 1
        unique: true
    ocean_mass:
        keys:
          - time_utc: -1
          - type: 1
        unique: true
    sea_level_rise:
        keys:
          - time_utc: -1
        unique: true
    weather_forecast:
        keys:
          - station_id: 1
        unique: true
