
# Token to use the ClimateChangeAppBot. This token has been granted by @BotFather.
TOKEN: "436819863:AAEvzTtCdP3tz0-XghsXes2JnUX_JwLBqbs"

# The bot's name.
BOT_NAME: "@ClimateChangeAppBot"

# The @ClimateChangeApp bot requires an "/start" command to notice that you are attempting to configure it.
# Messages are filtered to those received within the last MAX_VALID_TIME seconds. Defaults to 5 minutes.
MAX_VALID_TIME: 300

# Maximum time the bot waits when querying Telegram for its received messages (in seconds).
TIMEOUT: 30

# URL to the app's telegram configuration documentation.
TELEGRAM_DOCS_URL: "https://github.com/diego-hermida/ClimateChangeApp/wiki/%5BTelegram-Configurator%5D-Configuration-and-installation#9-revise-your-device-you-should-have-received-a-message-from-the-bot"

TELEGRAM_CONFIGURATOR_VERSION: v1.0

# By setting this property, all log records will include COMPONENT.
COMPONENT: TELEGRAM

# When executing tests, coverage file will have this output.
COVERAGE_FILENAME: telegram.coverage