STATE_STRUCT:
    last_execution:
        id: 0
        subsystem_version: null
        timestamp: null
        duration: null
        collected_elements: null
        inserted_elements: null
        execution_succeeded: null
        modules_executed: null
        modules_succeeded: null
        modules_failed:
            amount: null
            modules: []
    aggregated:
        max_duration: null
        mean_duration: 0
        min_duration: null
        execution_time: 0
        collected_elements: 0
        inserted_elements: 0
        executions: 0
        succeeded_executions: 0
        failed_executions: 0
        per_module: {}

EXECUTION_ID_STRUCT:
    execution_id: 0