STATE_STRUCT:
    last_execution:
        collected_elements: null
        duration: null
        execution_succeeded: null
        inserted_elements: null
        modules_executed: null
        modules_failed: null
        modules_succeeded: null
        timestamp: null
    aggregated:
        max_duration: null
        mean_duration: 0
        min_duration: null
        total_collected_elements: 0
        total_execution_time: 0
        total_executions: 0
        total_failed_executions: 0
        total_inserted_elements: 0
        total_succeeded_executions: 0
