STATE_STRUCT:
    last_execution:
        collected_elements: None
        duration: None
        execution_succeeded: None
        inserted_elements: None
        modules_executed: None
        modules_failed: None
        modules_succeeded: None
        timestamp: None
    aggregated:
        mean_duration: 0
        total_collected_elements: 0
        total_execution_time: 0
        total_executions: 0
        total_failed_executions: 0
        total_inserted_elements: 0
        total_succeeded_executions: 0
