MEASURES: 
    - CO2_EQ
    - KYOTO_CO2_EQ
    - CO2
    - CH4
    - N2O
    - KYOTO_FLOURINATED_HFC134A_EQ
    - MONTREAL_FLOURINATED_CFC-12_EQ
    - CF4
    - C2F6
    - C6F14
    - HFC23
    - HFC32
    - HFC43_10
    - HFC125
    - HFC134a
    - HFC143a
    - HFC227ea
    - HFC245fa
    - SF6
    - CFC_11
    - CFC_12
    - CFC_113
    - CFC_114
    - CFC_115
    - CARB_TET
    - MFC
    - HCFC_22
    - HCFC_141B
    - HCFC_142B
    - HALON1211
    - HALON1202
    - HALON1301
    - HALON2402
    - CH3BR
    - CH3CL

UNITS:
    - ppm
    - ppm
    - ppm
    - ppb
    - ppb
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt
    - ppt

DATA_DIR: /Users/diego/Dropbox/GEI/TFG/Datos_RPCs/

FILE_NAMES:
    - PRE_2005
    - PRE_INDUSTRIAL
    - RPC_2.6
    - RPC_4.5
    - RPC_6.0
    - RPC_8.5

FILE_EXT: .txt