
# ------------ Data Conversion Subsystem configuration ------------

# Current version of the Data Conversion Subsystem
# This attribute must be consistent with the 'image' attribute at the 'docker-compose.yml':
# diegohermida/data_conversion_subsystem:${DATA_CONVERSION_SUBSYSTEM_VERSION}
DATA_CONVERSION_SUBSYSTEM_VERSION: v1.0.1

# Name of the base package for all the DataConverters.
DATA_CONVERTERS_BASE_PACKAGE: data_conversion_subsystem.data_converters

# Name of the settings module
SETTINGS_MODULE: data_conversion_subsystem.settings

# Having more DataCollectors than this value may lead into performance penalties.
MAX_RECOMMENDED_DATA_CONVERTERS: 12

MAX_DATA_CALLS_PER_MODULE_AND_EXECUTION: 25

# If the Subsystem reaches timeout, execution will be aborted (all threads), and an CRITICAL message will be shown.
SUBSYSTEM_TIMEOUT: 270

# IMPORTANT: Owing to the fact that execution reports are saved per Data Conversion Subsystem instance (with the
# SUBSYSTEM_INSTANCE_ID --this-- field as a part of the "_id" field), it is MANDATORY that each Data Conversion Subsystem
# instance has an UNIQUE ID, or unexpected critical errors may appear.
SUBSYSTEM_INSTANCE_ID: 1

# IMPORTANT: This token grants access to the Data Gathering Subsystem API.
SUBSYSTEM_API_TOKEN: example

# This pattern allows creating distinct log and state directories per Subsystem instance.
# The wildcard will be replaced at execution time, or removed if the SUBSYSTEM_INSTANCE_ID equals 1.
ID_WILDCARD_PATTERN: "_{ID}"

# URL to the Data Gathering Subsystem's API /alive endpoint.
# API docs are available at: https://github.com/diego-hermida/ClimateChangeApp/wiki/%5BData-Gathering-Subsystem%5D-API
API_ALIVE_ENDPOINT_URL: "http://{IP}:{PORT}/alive"

# URL to the Data Gathering Subsystem's API /data/module endpoint.
# API docs are available at: https://github.com/diego-hermida/ClimateChangeApp/wiki/%5BData-Gathering-Subsystem%5D-API
API_DATA_ENDPOINT_URL: "http://{IP}:{PORT}/data/{MODULE}"

# By setting this property, all log records will include COMPONENT.
COMPONENT: DCS

# When executing tests, coverage file will have this output.
COVERAGE_FILENAME: dcs.coverage