<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block page_title %}
        {% endblock page_title %}
    </title>
</head>

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load i18n %}
{% load static %}

{% block initialization_block %}
{% endblock initialization_block %}

<style>
    /** Removes underline from links */
    .undecorated {
        text-decoration: none !important;
    }

    .alert-sized {
        max-width: 700px !important;
    }

    html {
        position: relative;
        min-height: 100%;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .header-margin {
        margin-top: {% if user and user.is_authenticated %}140px{% else %}100px{% endif %} !important;
    }

</style>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>

<body id="topOfPage">
<header class="container-fluid px-0 fixed-top">
    <nav id="menuNav" class="py-0 px-2 px-sm-3 navbar navbar-dark navbar-expand-md bg-dark"
         style="max-width: 100% !important;">
        <a class="navbar-brand pr-md-4 mr-0" href="/">
            <img style="width: 55px; height: 55px;" src="{% static 'images/favicon.ico' %}" alt="Home page">
            <span class="pl-2">{% trans "Climate Change" %}</span>
        </a>
        {% if user and user.is_authenticated %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav text-center mt-3 mt-md-0">
                    {% for section in admin_sections %}
                        <li class="nav-item">
                            <a class="nav-link px-md-2 px-lg-3" href="{{ section.url }}">{{ section.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            </nav>

            <div class="bg-primary text-white d-flex px-3 py-1">
                <p class="mb-0 text-truncate" style="max-width: 250px;">
                    {% blocktrans trimmed with username=user.username %}
                        Logged in as <strong>{{ username }}</strong>
                    {% endblocktrans %}
                </p>
                <a class="ml-auto btn btn-default nav-link py-0 px-2" href="/admin/logout">
                    <span class="d-none d-md-inline text-white px-2">{% trans "Logout" %}</span>
                    <em class="fa fa-sign-out fa-lg text-white"></em>
                </a>
            </div>
        {% endif %}
</header>
<main id="mainComponent" class="container header-margin">
    {% block body_content %}
    {% endblock body_content %}
</main>
<footer id="footerComponent" class="footer py-3 bg-dark text-white">
    <div class="container-fluid h-100 m-0 row align-items-center justify-content-center">
        <span class="col-12 px-3 text-center">
            {% now "Y" as current_year %}
            {% blocktrans trimmed %}
                © University of A Coruña, <strong>{{ current_year }}</strong>.
            {% endblocktrans %}
        </span>
        <p class="col-12 px-3 mb-0 mt-2 mt-sm-0 text-center mb-0">
            {% blocktrans trimmed %}
                This is the <strong>end-of-degree</strong> project of
                <a class="text-info" href="/about"><strong>Diego Hermida Carrera.</strong></a>
            {% endblocktrans %}
        </p>
    </div>
</footer>
</body>

{% block final_initialization_block %}
{% endblock final_initialization_block %}

{% load static %}
<script type="text/javascript" src="{% static 'js/util.js' %}"></script>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    $(document).ready(function () {
        $(function () {
            $('#menuNav').find('a[href="/admin/' + location.pathname.split('/')[2] + '"]').parents('li').addClass('active');
        });
    });

    $(document).ready(function () {
        resizeFooter();
    });
</script>

</html>