{% extends "climate/base_admin.html" %}
{% load i18n %}

{% block page_title %}
    {% trans "Admin zone - Manage profile" %}
{% endblock page_title %}

{% block body_content %}
    <div class="text-center my-4 pt-md-5">
        <h1 class="text-dark">{% trans "Manage your profile" %}</h1>
    </div>
    <div class="d-flex mx-auto my-5 align-items-center justify-content-center">
        <div class="d-flex alert alert-sized alert-info">
            <span>{% trans "This functionality is not implemented yet." %}</span>
        </div>
    </div>
{% endblock body_content %}