
PAGE_SIZE: null

# Any DataConverter which inherits from the base class must have a STATE_STRUCT field in the module '.config' file.
# This is checked at runtime, and modules won't be initialized unless the STATE_STRUCT contains the following fields:
STATE_STRUCT:
    last_request: null
    update_frequency:
        value: null
        units: null
    start_index: 0
    elements_to_convert: null
    converted_elements: null
    inserted_elements: null
    restart_required: false
    last_error: null
    error: null
    errors: {}
    backoff_time:
        value: 60
        units: s

#DEPENDENCIES_UNSATISFIED_UPDATE_FREQUENCY:
#    value: null
#    units: null

DATA_COLLECTION_MIN_UPDATE_FREQUENCY:
    value: null
    units: null

MIN_UPDATE_FREQUENCY:
    value: null
    units: null

MAX_UPDATE_FREQUENCY:
    value: null
    units: null