
# Current version of the Data Gathering Subsystem API
# This attribute must be consistent with the 'image' attribute at the 'docker-compose.yml':
# diegohermida/data_conversion_subsystem_api:${API_VERSION}
API_VERSION: v1.0.0

API_DOCS_URL: "https://github.com/diego-hermida/ClimateChangeApp/wiki/%5BData-Gathering-Subsystem%5D-API"

DOMAIN: {}

HATEOAS: false

IF_MATCH: false

API_ALIVE_CACHE_TIME: 10000  # 10 seconds

# By setting this property, all log records will include COMPONENT.
COMPONENT: API

# When executing tests, coverage file will have this output.
COVERAGE_FILENAME: api.coverage