
API_DOCS_URL: "https://github.com/diego-hermida/ClimateChangeApp/wiki/%5BData-Gathering-Subsystem%5D-API"

DOMAIN: {}

HATEOAS: false

IF_MATCH: false

API_ALIVE_CACHE_TIME: 10000  # 10 seconds

# By setting this property, all log records will include COMPONENT.
COMPONENT: API

# When executing tests, coverage file will have this output.
COVERAGE_FILENAME: api.coverage

# When executing tests, test results file will have this output.
TESTS_FILENAME: api_tests.xml