
# Absolute path to the API service root directory.
ROOT_API_FOLDER: /Users/diego/Documents/workspace/ClimateChangeApp/api/

# Absolute path to the API authorized users' file.
AUTHORIZED_USERS_FILEPATH: /Users/diego/Documents/workspace/ClimateChangeApp/api/config/authorized_users.config

# Absolute path to the Data Gathering Subsystem's API log root directory.
API_LOG_FILES_ROOT_FOLDER: /Users/diego/ClimateChangeApp/log/api/