BASE_URL : https://api.waqi.info/feed/geo:{LAT};{LONG}/?token={TOKEN}

TOKEN: acb2cc5e80eca1f4aec3fa17785bc7a42f877cdf

LOCATIONS_MODULE_NAME: locations

MAX_REQUESTS_PER_MINUTE: 1000

STATE_STRUCT: {update_frequency: {value: 30, units: 'm'}, last_request: null, last_id: null}

MIN_UPDATE_FREQUENCY: {value: 1, units: 'm'}

MAX_UPDATE_FREQUENCY: {value: 1, units: 'h'}